# ignore specific files
.Rproj.user
.Rhistory
.Rprofile
.Renviron
.RData
.Ruserdata
.Rd2pdf*
*.dat
*.log
*.Rd
*humbs.db
.commit

# ignore directories and files
build
data-raw/raster.*.tif
data-raw/Thumbs.db
doc
inst/doc
man
Meta
public
README_files/figure-markdown_github/Thumbs.db
shinyapps/flood3/data/df.gauging_data_latest.RDS
shinyapps/flood3/in_process
shinyapps/flood3/processed
shinyapps/flood3/www
shinyapps/flood3/scripts/cleanup.log
shinyapps/flood3daily/www
shinyapps/flood3wms/www/Thumbs.db
slurm/log
vignettes/movie
