# ignore specific files
.Rproj.user
.Rhistory
.Rprofile
.Renviron
.RData
.Ruserdata
.Rd2pdf*
*.dat
*.log
*.Rd
*humbs.db
*.xcf
.commit

# ignore directories and files
build
built
data-raw/raster.*.tif
data-raw/Thumbs.db
data-raw/*.sbn
data-raw/*.sbx
data-raw/raster.dem.tif
data-raw/raster.dem*.tif
data-raw/raster.csa.tif
data-raw/raster.csa*.tif
data-raw/raster.csa_plittersdorf.tif
data-raw/sf.*.rda
data-raw/spdf.*.rda
doc
/doc/
docs
inst/doc
man
/Meta/
Meta
README_files/figure-markdown_github/Thumbs.db
shinyapps/flood3/data/df.gauging_data_latest.RDS
shinyapps/flood3/in_process
shinyapps/flood3/processed
shinyapps/flood3/www
shinyapps/flood3/scripts/cleanup.log
shinyapps/flood3/rsconnect
shinyapps/flood3daily/www
shinyapps/flood3daily/rsconnect
shinyapps/flood3wms/www/Thumbs.db
shinyapps/flood3wms/rsconnect
slurm/log
vignettes/graphical_abstract
vignettes/movie
vignettes/rosm.cache
vignettes/wms-legends
vignettes/*.mp4
vignettes/*.png
vignettes/*.Rdata
vignettes/*.tab
vignettes/*.tif



