# ignore specific files
.Rproj.user
.Rhistory
.Rprofile
.Renviron
.RData
.Ruserdata
.Rd2pdf*
*.dat
*.log
*.Rd
*humbs.db
.commit

# ignore directories and files
build
data-raw/Thumbs.db
data-raw/*.sbn
data-raw/*.sbx
data-raw/raster.dem.tif
data-raw/raster.dem*.tif
data-raw/raster.csa.tif
data-raw/raster.csa*.tif
data-raw/raster.csa_plittersdorf.tif
data-raw/sf.*.rda
data-raw/spdf.*.rda
doc
/doc/
inst/doc
man
/Meta/
Meta
public
README_files/figure-markdown_github/Thumbs.db
shinyapps/flood3/data/df.gauging_data_latest.RDS
shinyapps/flood3/in_process
shinyapps/flood3/processed
shinyapps/flood3/www
shinyapps/flood3/scripts/cleanup.log
shinyapps/flood3daily/www
shinyapps/flood3wms/www/Thumbs.db
slurm/log
vignettes/movie
vignettes/*.mp4

